.horizontal {
float: left;
list-style: none;
margin: 10px;
}
.mine {
	background-color: #cccccc;
	list-style: none;
}

tr {
background-color: #fff;
}
.alt {
background-color: #ccc;
}
.highlight {
	font-weight: bold;
	font-style: italic;

}
